.page-header {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 37px;
	padding-top: 40px;
	overflow: hidden;
}
.page-header a {
	text-decoration: none;
}
.page-header .top-logo {
	color: inherit;
	float: left;
}
.page-header .top-logo .title {
	color: #45ac9d;
	font: bold 1.88em/1.3125 'Montserrat', 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.034em;
	display: block;
	text-transform: uppercase;
}
.page-header .top-logo .sub-title {
	color: inherit;
	display: block;
}
.page-header .top-nav {
	float: right;
	padding-top: 22px;
}
.page-header .top-nav ul li {
	display: inline;
}
.page-header .top-nav ul li a {
	color: inherit;
	font-size: 14px;
	line-height: normal;
	margin-left: 35px;
	text-decoration: none;
	text-transform: uppercase;
}
